@using System.Security.Claims;

<nav id="banner">
  <ul id="nav-ul">
    <li>
      <p id="nav-logo">Recipe Box</p>
    </li>
    <li id="nav-li-2">
      <p>@Html.ActionLink("Home", "Index", "Home")</p>
    </li>
    <li>  
      <p>@Html.ActionLink("Categories", "Index", "Categories")</p>
    </li>
    <li> 
      <p>@Html.ActionLink("Recipes", "Index", "Recipes")</p>
    </li>
    @if (User.Identity.IsAuthenticated)
    {
      <li>
        <p>@Html.ActionLink("Account Details", "Details", "Account")</p>
      </li>
      <li>
        <p>@Html.ActionLink("Log out", "LogOff", "Account")</p>
      </li>
    }
    else
    {
    <li>
      <p>@Html.ActionLink("Log in", "Login", "Account")</p>
    </li>
    }
    
  </ul>
</nav>